@model Company.Models.Expense

@{
    ViewBag.Title = "Delete";
}

<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">@Model.Title</span>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Til baka í gjöld", "Details/" + Model.ID, null, new { @class = "btn btn-primary" })
    </div>
</div>


<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Ertu viss um að þú viljir eyða þessum gjöldum?</span>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Project.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Registered)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Registered)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>

            <dd>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Eyða" class="btn btn-danger" />
                    </div>
                }
            </dd>

        </dl>
    </div>
</div>