@model Company.Models.Income

@{
    ViewBag.Title = "Eyða tekjum";
}

<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Eyða tekjum</span>
    </div>
    <div class="panel-body">
        <h3>Ertu viss um að þú viljir eyða þessum tekjum?</h3>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    Viðskiptavinur
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Project.Client.Name)
                </dd>

                <dt>
                    Verkefni
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Project.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Registered)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Registered)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Amount)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Amount)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Eyða" class="btn btn-danger" /> |
                    @Html.ActionLink("Til baka í lista", "Index")
                </div>
            }
        </div>

    </div>
</div>