@model Company.Models.Income

@{
    ViewBag.Title = "Upplýsingar um tekjur";
}

<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">
            <span class="panel-title">
                Upplýsingar um tekjur
            </span>
        </span>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Project.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Registered)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Registered)
            </dd>

        </dl>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
