@model Company.Models.Income

@{
    ViewBag.Title = "Upplýsingar um tekjur";
}

<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Aðgerðir fyrir tekjur</span>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Til baka í lista", "Index", null, new { @class = "btn btn-primary" })
        <span class="pull-right">
            @Html.ActionLink("Breyta tekjum", "Edit/" + Model.ID, null, new { @class = "btn btn-success" })
            @Html.ActionLink("Eyða tekjum", "Delete/" + Model.ID, null, new { @class = "btn btn-danger" })
        </span>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">
            <span class="panel-title">
                Upplýsingar um tekjur
            </span>
        </span>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                Viðskiptavinur
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Client.Name)
            </dd>

            <dt>
                Verkefni
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Project.Title)
            </dd>
            
            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Registered)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Registered)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Amount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Amount)
            </dd>

        </dl>
    </div>
</div>
