@model PagedList.IPagedList<Company.Models.Income>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<div class="page-header">
    <div class="row">
        <!-- Page header, center on small screens -->
        <h1 class="col-xs-12 col-sm-4 text-left-sm"><i class="fa fa-users page-header-icon"></i>&nbsp;&nbsp;Tekjur</h1>

        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <hr class="visible-xs no-grid-gutter-h">
                <!-- "Create project" button, width=auto on desktops -->
                <div class="pull-right col-xs-12 col-sm-auto">
                    <a href="/Income/Create" class="btn btn-primary btn-labeled" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Skrá nýjar tekjur</a>
                </div>

                <!-- Margin -->
                <div class="visible-xs clearfix form-group-margin"></div>

                <!-- Search field -->
                @using (Html.BeginForm("Index", "Income", FormMethod.Get, new { @class="pull-right col-xs-12 col-sm-6" })) 
                {
                    <div class="input-group no-margin">
                        <span class="input-group-addon" style="border:none;background: #fff;background: rgba(0,0,0,.05);"><i class="fa fa-search"></i></span>
                        <input type="text" name="SearchString" placeholder="Leita af tekjum..." value="@ViewBag.CurrentFilter" class="Search search-query form-control no-padding-hr" style="border:none;background: #fff;min-width:100%;background: rgba(0,0,0,.05);">
                    </div>
                }
            </div>
        </div>
    </div>
</div> <!-- / .page-header -->

<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Tekjur</span>
    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <th>
                    @Html.ActionLink("Titill", "Index", new { sortOrder = ViewBag.TitleSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Lýsing", "Index", new { sortOrder = ViewBag.DescriptionSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Skráð", "Index", new { sortOrder = ViewBag.RegisteredSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Viðskiptavinur", "Index", new { sortOrder = ViewBag.ClientSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Verkefni", "Index", new { sortOrder = ViewBag.ProjectSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
                <th>
                    @Html.ActionLink("Upphæð", "Index", new { sortOrder = ViewBag.AmountSortParm, currentFilter = ViewBag.CurrentFilter })
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.Title, "Details/" + item.ID, "Income")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Registered)
                    </td>
                    <td>
                        @Html.ActionLink(item.Project.Client.Name, "Details/" + item.Project.ClientID, "Client")
                    </td>
                    <td>
                        @Html.ActionLink(item.Project.Title, "Details/" + item.ProjectID, "Project")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                </tr>
            }

        </table>
    </div>
</div>



