@model Company.Models.Client

@{
    ViewBag.Title = "Yfirlit";
}


<div class="panel">
    <div class="panel-heading project">
        <span class="panel-title">Yfirlit yfir viðskiptavin</span>
        <span class="pull-right">
            <a href="~/Project/Edit/@Model.ID" class="fa fa-edit" style="color:white"></a>
            <a href="~/Project/Delete/@Model.ID" class="fa fa-trash-o" style="color:white"></a>
        </span>
    </div>
    <div class="panel-body">
        <div>
            <div class="pull-left col-xs-6 col-sm-6 col-md-6 col-lg-6 toppad">
                <div>
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>@Model.Name</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"><img alt="User Pic" src="~/Content/img/gretar.png" class="img-circle"> </div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.Registered)</td>
                                            <td>@Html.DisplayFor(model => model.Registered)</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.Phone)</td>
                                            <td>@Html.DisplayFor(model => model.Phone)</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.Address)</td>
                                            <td>@Html.DisplayFor(model => model.Address)</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.Email)</td>
                                            <td><a href="mailto:@Model.Email">@Html.DisplayFor(model => model.Email)</a></td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.Company)</td>
                                            <td>@Html.DisplayFor(model => model.Company)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="pull-left col-xs-6 col-sm-6 col-md-6 col-lg-6 toppad">
                <div>
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Upplýsingar um verkefni unnin fyrir <small>@Html.DisplayFor(model => model.Name)</small></strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-12 col-lg-12 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Fjöldi verkefna</td>
                                            <td>@Model.Projects.Count() <span> stk</span></td>
                                        </tr>
                                        <tr>
                                            <td>Heildartekjur verkefna</td>
                                            <td>
                                                @{
                                                    int tempTotalPrice = 0;
                                                    foreach (var project in Model.Projects)
                                                    {
                                                        project.TotalIncome = 0;
                                                        foreach (var income in project.Incomes)
                                                        {
                                                            project.TotalIncome += income.Amount;
                                                        }
                                                        if (project.TotalIncome != 0)
                                                        {
                                                            tempTotalPrice += Convert.ToInt32(project.TotalIncome);
                                                        }
                                                    }
                                                    <span>@tempTotalPrice<span> kr.</span></span>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Heildarkostnaður verkefna</td>
                                            <td>
                                                @{
                                                    int tempTotalExpense = 0;
                                                    foreach (var project in Model.Projects)
                                                    {
                                                        project.TotalExpense = 0;
                                                        foreach (var expense in project.Expenses)
                                                        {
                                                            project.TotalExpense += expense.Amount;
                                                        }
                                                        if (project.TotalExpense != 0)
                                                        {
                                                            tempTotalExpense += Convert.ToInt32(project.TotalExpense);
                                                        }
                                                    }
                                                    <span>@tempTotalExpense<span> kr.</span></span>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Heildarlengd verkefna</td>
                                            <td>
                                                @{
                                                    int tempTotalDays = 0;
                                                    foreach (var project in Model.Projects)
                                                    {
                                                        tempTotalDays += Convert.ToInt32(project.NumberOfHours);
                                                    }
                                                    <span>@tempTotalDays <span> dagar</span></span>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Hagnaður / Tap</td>
                                            <td>
                                                @{
                                                    int tempTotal = tempTotalPrice - tempTotalExpense;
                                                    <p>@tempTotal<span> kr.</span></p>
                                                }
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading project">
        <span class="panel-title">Verkefni</span>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Titill verkefnis</th>
                    <th>Staða</th>
                    <th>Skráð</th>
                    <th>Heimilisfang</th>
                </tr>
            </thead>
            @{
                //var fiveNewestProjects = Model.Projects.OrderByDescending(p => p.RegisteredDate).Take(5);
                foreach (var project in Model.Projects.OrderByDescending(p => p.RegisteredDate).Take(5))
                {
                    <tr>
                        <td>
                            @Html.ActionLink(project.Title, "Details/" + project.ID, "Project")
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => project.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => project.RegisteredDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => project.Address)
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel">
        <div class="panel-heading income">
            <span class="panel-title">Tekjur</span>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Titill</th>
                        <th>Skráð</th>
                        <th>Upphæð</th>
                    </tr>
                </thead>
                @{
                    foreach (var project in Model.Projects)
                    {
                        foreach (var income in project.Incomes.OrderByDescending(i => i.Registered).Take(5))
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(income.Title, "Details/" + income.ID, "Income")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => income.Registered)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => income.Amount)
                                </td>
                            </tr>
                        }
                    }
                }
            </table>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel">
        <div class="panel-heading expense">
            <span class="panel-title">Gjöld</span>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Titill</th>
                        <th>Skráð</th>
                        <th>Upphæð</th>
                    </tr>
                </thead>
                @foreach (var project in Model.Projects)
                {
                    foreach (var expense in project.Expenses.OrderByDescending(e => e.Registered).Take(5))
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(expense.Title, "Details/" + expense.ID, "Expense")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => expense.Registered)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => expense.Amount)
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

@Html.ActionLink("Til baka í lista", "Index", "Client", new { @class = "btn btn-primary" })