@model Company.Models.Client

@{
    ViewBag.Title = "Yfirlit";
}

<div class="panel">
    <div class="panel-heading project">
        <span class="panel-title">@Model.Name</span>
    </div>
    <div class="panel-body">
        @Html.ActionLink("Til baka í lista", "Index", "Client", new { @class = "btn btn-primary" })
        <div class="pull-right">
            <a href="mailto:@Model.Email" data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
            @Html.ActionLink("Breyta viðskiptavin", "Edit/" + @Model.ID, "Client", new { @class = "btn btn-success" })
            @Html.ActionLink("Eyða viðskiptavin", "Delete/" + @Model.ID, "Client", new { @class = "btn btn-danger" })
        </div>
    </div>
</div>


<div class="panel">
    <div class="panel-heading project">
        <span class="panel-title">Yfirlit yfir viðskiptavin</span>
    </div>
    <div class="panel-body">
        <div>
            <div class="pull-left col-xs-6 col-sm-6 col-md-6 col-lg-6 toppad">
                <div>
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>@Model.Name</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=100" class="img-circle"> </div>
                            <div class=" col-md-9 col-lg-9 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.Registered)</td>
                                            <td>@Html.DisplayFor(model => model.Registered)</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.Phone)</td>
                                            <td>@Html.DisplayFor(model => model.Phone)</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.Address)</td>
                                            <td>@Html.DisplayFor(model => model.Address)</td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.Email)</td>
                                            <td><a href="mailto:@Model.Email">@Html.DisplayFor(model => model.Email)</a></td>
                                        </tr>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.Company)</td>
                                            <td>@Html.DisplayFor(model => model.Company)</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="pull-left col-xs-6 col-sm-6 col-md-6 col-lg-6 toppad">
                <div>
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>@Html.DisplayFor(model => model.Company)</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class=" col-md-12 col-lg-12 ">
                                <table class="table table-user-information">
                                    <tbody>
                                        <tr>
                                            <td>Fjöldi verkefna</td>
                                            <td>@Model.Projects.Count()</td>
                                        </tr>
                                        <tr>
                                            <td>Heildartekjur verkefna</td>
                                            <td>
                                                @{
                                                    int tempTotalPrice = 0;
                                                    foreach (var project in Model.Projects)
                                                    {
                                                        project.TotalIncome = 0;
                                                        foreach (var income in project.Incomes)
                                                        {
                                                            project.TotalIncome += income.Amount;
                                                        }
                                                        if (project.TotalIncome != 0)
                                                        {
                                                            tempTotalPrice += Convert.ToInt32(project.TotalIncome);
                                                        }
                                                    }
                                                    <p>@tempTotalPrice</p>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Heildarkostnaður verkefna</td>
                                            <td>
                                                @{
                                                    int tempTotalExpense = 0;
                                                    foreach (var project in Model.Projects)
                                                    {
                                                        project.TotalExpense = 0;
                                                        foreach (var expense in project.Expenses)
                                                        {
                                                            project.TotalExpense += expense.Amount;
                                                        }
                                                        if (project.TotalExpense != 0)
                                                        {
                                                            tempTotalExpense += Convert.ToInt32(project.TotalExpense);
                                                        }
                                                    }
                                                    <p>@tempTotalExpense</p>
                                                }
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Meðallengd verkefna</td>
                                            <td>3 vikur</td>
                                        </tr>
                                        <tr>
                                            <td>Eitthvað annað</td>
                                            <td>225.500 kr.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading project">
        <span class="panel-title">Verkefni</span>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Titill verkefnis</th>
                    <th>Staða</th>
                    <th>Skráð</th>
                    <th>Heimilisfang</th>
                </tr>
            </thead>
            @foreach (var project in Model.Projects)
            {
                <tr>
                    <td>
                        @Html.ActionLink(project.Title, "Details/" + project.ID, "Project")
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => project.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => project.RegisteredDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => project.Address)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel">
        <div class="panel-heading income">
            <span class="panel-title">Tekjur</span>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Titill</th>
                        <th>Skráð</th>
                        <th>Upphæð</th>
                    </tr>
                </thead>
                @foreach (var project in Model.Projects)
                {
                    foreach (var income in project.Incomes)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(income.Title, "Details/" + income.ID, "Project")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => income.Registered)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => income.Amount)
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel">
        <div class="panel-heading expense">
            <span class="panel-title">Gjöld</span>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Titill</th>
                        <th>Skráð</th>
                        <th>Upphæð</th>
                    </tr>
                </thead>
                @foreach (var project in Model.Projects)
                {
                    foreach (var expense in project.Expenses)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(expense.Title, "Details/" + expense.ID, "Project")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => expense.Registered)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => expense.Amount)
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>