@model Company.Models.Hour

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Hour</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.ID)

        <div class="form-group">
            @Html.LabelFor(model => model.EmployeeID, "EmployeeID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("EmployeeID", String.Empty)
                @Html.ValidationMessageFor(model => model.EmployeeID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProjectID, "ProjectID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ProjectID", String.Empty)
                @Html.ValidationMessageFor(model => model.ProjectID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DayStart, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DayStart)
                @Html.ValidationMessageFor(model => model.DayStart)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MorgningBreakStop, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MorgningBreakStop)
                @Html.ValidationMessageFor(model => model.MorgningBreakStop)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MorgningBreakStart, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MorgningBreakStart)
                @Html.ValidationMessageFor(model => model.MorgningBreakStart)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LunchStop, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LunchStop)
                @Html.ValidationMessageFor(model => model.LunchStop)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LunchStart, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LunchStart)
                @Html.ValidationMessageFor(model => model.LunchStart)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DayBreakStop, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DayBreakStop)
                @Html.ValidationMessageFor(model => model.DayBreakStop)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DayBreakStart, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DayBreakStart)
                @Html.ValidationMessageFor(model => model.DayBreakStart)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DayStop, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DayStop)
                @Html.ValidationMessageFor(model => model.DayStop)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date)
                @Html.ValidationMessageFor(model => model.Date)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WorkTime, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WorkTime)
                @Html.ValidationMessageFor(model => model.WorkTime)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
