@model Company.Models.Employee

@{
    ViewBag.Title = "Eyða starfsmanni";
}
<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Eyða starfsmanni</span>
    </div>
    <div class="panel-body">
        <h3>Ertu viss um að þú viljir eyða @Model.Name ?</h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Role):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Role)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SSN):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SSN)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Address):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Started):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Started)
            </dd>
        </dl>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Eyða" class="btn btn-danger" /> |
                @Html.ActionLink("Til baka á starfsmannalista", "Index")
            </div>
        }
    </div>
</div>
