@model Company.Models.Project

@{
    ViewBag.Title = "Upplýsingar - Verkefni";
}
<div class="row">
    <div class="col-md-4">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Breyta stöðu verkefnis</span>
            </div>
            <div class="panel-body">
                @Html.ActionLink("Til baka í lista", "Index", "Project", null, new { @class = "btn btn-primary" })
                @Html.ActionLink("Verkefni hafið", "ProjectStarted/" + Model.ID, "Project", null, new { @class = "btn btn-warning pull-right" })
                @Html.ActionLink("Verkefni lokið", "ProjectFinished/" + Model.ID, "Project", null, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Bæta við Tekjum / Gjöldum</span>
            </div>
            <div class="panel-body">
                @Html.ActionLink("Bæta við tekjum", "Create", "Income", null, new { @class = "btn btn-success pull-left" })
                @Html.ActionLink("Bæta við gjöldum", "Create", "Expense", null, new { @class = "btn btn-danger pull-right" })
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Breyta / Eyða Verkefni</span>
            </div>
            <div class="panel-body">
                @Html.ActionLink("Breyta verkefni", "Edit/" + Model.ID, "Project", null, new { @class = "btn btn-success pull-left" })
                @Html.ActionLink("Eyða verkefni", "Delete/" + Model.ID, "Project", null, new { @class = "btn btn-danger pull-right" })
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading project">
                <span class="panel-title"><i class="fa fa-folder-open"></i>Upplýsingar um verkefni</span>
            </div>
            <div class="panel-body">
                <table class="table table-user-information">
                    <tbody>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Title)</td>
                            <td>@Html.DisplayFor(model => model.Title)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Client)</td>
                            <td>@Html.ActionLink(Model.Client.Name, "Details/" + Model.ClientID, "Client")</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Address)</td>
                            <td>@Html.DisplayFor(model => model.Address)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Client.ZipCode)</td>
                            <td>@Html.DisplayFor(model => model.Client.ZipCode)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Details)</td>
                            <td>@Html.DisplayFor(model => model.Details)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.Status)</td>
                            <td>@Html.DisplayFor(model => model.Status)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.RegisteredDate)</td>
                            <td>@Html.DisplayFor(model => model.RegisteredDate)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.StartedDate)</td>
                            <td>@Html.DisplayFor(model => model.StartedDate)</td>
                        </tr>
                        <tr>
                            <td>@Html.DisplayNameFor(model => model.FinishDate)</td>
                            <td>@Html.DisplayFor(model => model.FinishDate)</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Staðsetning á korti</span>
            </div>

            <div class="panel-body">
                <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
                <div style="overflow:hidden;height:350px;width:500px;">
                    <div id="gmap_canvas" style="height:500px;width:600px;"></div>
                    <script type="text/javascript">
                    function init_map() {
                        var myOptions = {
                            zoom: 14,
                            center: new google.maps.LatLng(64.144262, -21.860669),
                            mapTypeId: google.maps.MapTypeId.ROADMAP
                        };
                        map = new google.maps.Map(document.getElementById("gmap_canvas"), myOptions);
                        marker = new google.maps.Marker({ map: map, position: new google.maps.LatLng(64.144262, -21.860669) });
                        infowindow = new google.maps.InfoWindow({ content: "<b>Kaffihúsið</b><br/>Hjallavegur 1<br/> 104 Reykjavík" });
                        google.maps.event.addListener(marker, "click", function () { infowindow.open(map, marker); });
                        infowindow.open(map, marker);
                    }
                    google.maps.event.addDomListener(window, 'load', init_map);
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">@Html.DisplayNameFor(model => model.TotalIncome)</span>
            </div>
            <div class="panel-body">
                <h2 align="center">@Html.DisplayFor(model => model.TotalIncome)<small> kr.</small></h2>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">@Html.DisplayNameFor(model => model.NumberOfHours)</span>
            </div>
            <div class="panel-body">
                <h2 align="center">@Html.DisplayFor(model => model.NumberOfHours)<small> dagar</small></h2>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">@Html.DisplayNameFor(model => model.TotalExpense)</span>
            </div>
            <div class="panel-body">
                <h2 align="center">@Html.DisplayFor(model => model.TotalExpense)<small> kr.</small></h2>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="panel">
            <div class="panel-heading">
                <span class="panel-title">Hagnaður / Tap</span>
            </div>
            <div class="panel-body">
                <h2 align="center">@{ int tempProfitLoss = Convert.ToInt32(Model.TotalIncome - Model.TotalExpense); <span>@tempProfitLoss</span> }<small> kr.</small></h2>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel">
        <div class="panel-heading income">
            <span class="panel-title"><i class="fa fa-plus"></i> Listi yfir tekjur</span>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Titill</th>
                        <th>Lýsing</th>
                        <th>Skráð</th>
                        <th>Viðskiptavinur</th>
                        <th>Upphæð</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var income in Model.Incomes.OrderByDescending(i => i.Registered).Take(5))
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(income.Title, "Details/" + income.ID, "Income")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => income.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => income.Registered)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => @Model.Client.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => income.Amount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="col-lg-6">
    <div class="panel">
        <div class="panel-heading expense">
            <span class="panel-title"><i class="fa fa-minus"></i> Listi yfir gjöld</span>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Titill</th>
                        <th>Lýsing</th>
                        <th>Skráð</th>
                        <th>Upphæð</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var expense in Model.Expenses.OrderByDescending(e => e.Registered).Take(5))
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(expense.Title, "Details/" + expense.ID, "Expense")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => expense.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => expense.Registered)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => expense.Amount)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
