@model Company.Models.Project

@{
    ViewBag.Title = "Upplýsingar - Verkefni";
}



<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Upplýsingar um verkefni</span>
    </div>
    <div class="panel-body">
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Client.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Client.Name)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Title)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Title)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ZipCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhotoPath)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhotoPath)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Details)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Details)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OfferPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OfferPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.HourPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.HourPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TotalPrice)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NumberOfHours)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumberOfHours)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.RegisteredDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.RegisteredDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FinishDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FinishDate)
                </dd>

            </dl>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Listi yfir tekjur</span>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#income" data-toggle="tab"><i class="fa fa-envelope-o"></i> Tekjur</a></li>
            <!--<li><a href="#sent" data-toggle="tab"><i class="fa fa-reply-all"></i> Sent</a></li>
            <li><a href="#assignment" data-toggle="tab"><i class="fa fa-file-text-o"></i> Assignment</a></li>
            <li><a href="#event" data-toggle="tab"><i class="fa fa-clock-o"></i> Event</a></li>-->
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="income">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Titill</th>
                            <th>Lýsing</th>
                            <th>Skráð</th>
                            <th>Viðskiptavinur</th>
                            <th>Upphæð</th>
                        </tr>
                    </thead>
                    @foreach (var income in Model.Incomes)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(income.Title, "Details/" + income.ID, "Income")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => income.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => income.Registered)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => @Model.Client.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => income.Amount)
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-heading">
        <span class="panel-title">Listi yfir gjöld</span>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#expense" data-toggle="tab"><i class="fa fa-envelope-o"></i>Gjöld</a></li>
            <!--<li><a href="#sent" data-toggle="tab"><i class="fa fa-reply-all"></i> Sent</a></li>
            <li><a href="#assignment" data-toggle="tab"><i class="fa fa-file-text-o"></i> Assignment</a></li>
            <li><a href="#event" data-toggle="tab"><i class="fa fa-clock-o"></i> Event</a></li>-->
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="expense">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Titill</th>
                            <th>Lýsing</th>
                            <th>Skráð</th>
                            <th>Upphæð</th>
                        </tr>
                    </thead>
                    @foreach (var expense in Model.Expenses)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink(expense.Title, "Details/" + expense.ID, "Income")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => expense.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => expense.Registered)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => expense.Amount)
                            </td>
                        </tr>
                    }
                </table>
            </div>

            <p>
                @Html.ActionLink("Til baka í lista", "Index", "Project", new { @class = "btn btn-default" })
            </p>
        </div>
    </div>
</div>