<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AFI</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AFI", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Heim", "Index", "Home")</li>
                    <li>@Html.ActionLink("Viðskiptavinir", "Index", "Client")</li>
                    <li>@Html.ActionLink("Verkefni", "Index", "Project")</li>
                    <li>@Html.ActionLink("Tekjur", "Index", "Income")</li>
                    <li>@Html.ActionLink("Gjöld", "Index", "Expense")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="pull-left">
                <p>&copy; @DateTime.Now.Year - Iðnlausn ehf. Allur réttur áskilinn.</p>
            </div>
            <div class="pull-right">
                <a href="#">Kennsluefni</a> | <a href="#">Þjónustuborð</a> | <a href="#">Skilmálar</a>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
